﻿<%@ Page Language="C#" ValidateRequest="false"%>
<script runat="server">
private void Page_Load(object sender, System.EventArgs e)
{
    Response.Status = "404 Not Found";
}
</script><?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<link href="/StyleSheet.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div class="header"><img src="/images/logo.png" alt="Logo" /></div>
    <div class="advert">Error</div>
    
    <div class="wrapper">
       
        
    <div class="center">404 File Not Found</div>
    <p class="center"><%=DefaultAdverts.BuzzNonAdult()%></p>

     </div>
     
        <div class="footer">
        <a href="http://phn.me">Home</a>
        </div>
   

</body>
</html>
