﻿<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true"%>
<asp:Content ID="Content1" ContentPlaceHolderID="body" Runat="Server">
<div class="center">Welcome to our support forum. Feel free to post your questions about <%=SiteConfiguration.GetConfig().siteName%></div>
<div class="title"><a href="manage/default.aspx?un=<%=Functions.un %>&amp;pw=<%=Functions.pw %>"><img src="/images/home.gif" alt=""/> Home</a> <img src="/images/bluearrow.gif" alt="&gt;"/> Support forum</div>
<% 
    int pageNumber = Functions.ReturnNumeric(Request["p"]);
    int pageSize = 10;
    
    Functions f = new Functions();
    
   f.listForumTopics(pageNumber,pageSize); 
   
    
    
       //if username exist show forumpost 
       if (String.IsNullOrEmpty(Request.QueryString["un"]) == false)
       {%>
<div class="title">Add new topic</div>
<form method="post" action="forumUpdate.aspx">
     <p>
     <input name="un" value="<%=Functions.un %>" type="hidden" />
     <input name="pw" value="<%=Functions.pw %>" type="hidden" />
    Title:<br/>
    <input name="topic" value="" type="text" /><%
     if (Session["IsGlobalAdmin"].ToString() == "yes")
    {%>
   <br/><input type="radio" name="stick" value="n" checked="checked" />Normal <input type="radio" name="stick" value="s" />Sticky
    <%}
           
            %><br/>
    Message:<br/>
    <textarea name="replyBody" rows="5" class="fullscreen"></textarea>
    <br />
    <input type="submit" value="Post" />

    </p>
    </form>
    <%}%>
 

    </asp:Content>

