﻿<%@ Page Title="" ValidateRequest="false" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="~/codeBehindFiles/forumReplyUpdate.aspx.cs" Inherits="forumUpdate" %>

<asp:Content ID="Content1" ContentPlaceHolderID="body" Runat="Server">
    <div class="center"><asp:Label ID="updateResult" runat="server" Text=""></asp:Label>
    <br/>
    <a href="/forums.aspx?un=<%=Functions.un %>&amp;pw=<%=Functions.pw %>">Ok</a>
    </div>
</asp:Content>
