﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="~/codeBehindFiles/forumManage.aspx.cs" Inherits="forumManage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="body" Runat="Server">
    <div class="center"><asp:Label ID="deleteResult" runat="server" Text=""></asp:Label>
    <br/>
    <a href="forums.aspx?un=<%=Functions.un %>&amp;pw=<%=Functions.pw %>">Continue</a>
    </div>
</asp:Content>
