﻿<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" Title="Untitled Page" %>

<script runat="server">

</script>

<asp:Content ID="Content1" ContentPlaceHolderID="body" Runat="Server">
<div class="title"><a href="/"><img src="/images/home.gif" alt=""/> Home</a> <img src="/images/bluearrow.gif" alt="&gt;"/> Global onlines</div>
<% 
    
    Functions f = new Functions();

    f.listGlobalOnlines(); 
   
    
    %>
</asp:Content>

