﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true"%>
<script runat="server">

    protected void Button1_Click(object sender, EventArgs e)
    {
        Response.Redirect("sitesPopularAdult.aspx");
    }
</script>
<asp:Content ID="Content1" ContentPlaceHolderID="body" Runat="Server">
<form id="ff" runat="server"><div class="title"><a href="/"><img src="/images/home.gif" alt=""/> Home</a> <img src="/images/bluearrow.gif" alt="&gt;"/> Popular sites</div>
<% 
    int pageNumber = Functions.ReturnNumeric(Request["p"]);
    int pageSize = 10;
    
    Functions f = new Functions();

    f.listPopularSitesNormal(pageNumber, pageSize); 
   
    
    %>

<div class="center">
    <asp:Button ID="Button1" runat="server" 
        OnClientClick="return confirm('Are you 18 years old or over?')" 
        Text="View adult sites" onclick="Button1_Click" />
</div>
</form>

    </asp:Content>

