﻿body {
color:#000;
margin:0;
padding:0;
font-family: verdana, sans-serif;
font-size: small;
}

.faint {
color:#66A4CD;
}

.bold {
font-weight:700;
}

.wrapper {
margin:0;
padding:2px;
}

img {
vertical-align:middle;
border:0;
}

.header
{
    /*background: #ffffff url( '/images/logobg.png' );*/
    /*border-bottom: solid 1px #eeeeee;*/
    /*background-repeat: repeat-x;*/
}

.footer {
text-align:center;
border-top:solid 1px #ccc;
}

.title {
color:#333;
border-top:1px solid #EDEDED;
border-left:1px solid #EDEDED;
border-right:1px solid #969696;
border-bottom:1px solid #969696;
background:#E0E0E0;
font-weight:700;
margin-top:1px;
padding:1px;
}

.advert {
text-align:center;
background-color:#EBECED;
border-bottom:solid 1px #969696;
padding:2px;
}

.center {
text-align:center;
}

.inftbl {
text-align:center;
width:100%;
}

.cell {
text-align:center;
border:1px solid #EAEAED;
}

.error {
text-align:center;
color:red;
}

ul {
list-style-type:none;
padding-left:2px;
margin:0;
}

li {
margin-bottom:2px;
padding-bottom:3px;
border-bottom:solid 1px #EAEAED;
}

hr {
color:#ccc;
background-color:#ccc;
height:1px;
padding-left:2px;
padding-right:2px;
}

.gap {
padding:4px;
}

.fullscreen {
width:97%;
margin-left:auto;
margin-right:auto;
}

form,p {
margin:0;
padding:0;
}

input,button,textarea,select {
margin:2px;
}

.inlineDiv {
display:inline;
}

a,a visited {
text-decoration:none;
color:#00f;
}