﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="~/codeBehindFiles/manageSiteEditPageDeleteItem.aspx.cs" Inherits="manage_manageSiteEditPageDeleteItem" %>

<asp:Content ID="Content1" ContentPlaceHolderID="body" Runat="Server">
    <div class="center"><asp:Label ID="deleteResult" runat="server" Text=""></asp:Label>
    <br/>
    <a href="manageSiteEditPage.aspx?un=<%=Functions.un %>&amp;pw=<%=Functions.pw %>&amp;pageid=<%=Request.QueryString["pageid"] %>&amp;subdomainid=<%=Request.QueryString["subdomainid"] %>">Ok</a>
    </div>
</asp:Content>

