﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="~/codeBehindFiles/reminder.aspx.cs" Inherits="manage_reminder" %>
<asp:Content ID="Content1" ContentPlaceHolderID="body" Runat="Server">
    <div class="center"><asp:Label ID="reminderResult" runat="server" Text=""></asp:Label></div>
</asp:Content>

