﻿<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="~/codeBehindFiles/uploadFileDelete.aspx.cs" Inherits="manage_uploadFileDelete" Title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="body" Runat="Server">
    <div class="center"><asp:Label ID="deleteResult" runat="server" Text=""></asp:Label>
    <br/>
    <a href="uploadFile.aspx?un=<%=Functions.un %>&amp;pw=<%=Functions.pw %>">Ok</a>
    </div>
</asp:Content>

